*{
    padding: 10px;
}
#form{
    width: 250px;
    padding: 0% 42%;
    opacity: 0.7;
}
img{
    float: left;
    background-color: white;
}
h1{
    color: navy;
    background-color: white;
}
#box{
    margin: 0px;
    padding: 0% 42%;
    background-color: lightblue;
}
#input{
    background-color: white;
    padding: 0% 42%;
}
#form h2{
    background-color: lightgray;
    text-decoration: solid;
    font-weight: bolder;
}
#form h4{
    background-color: lightgray;
}
#input-group1, #input-group2{
    float: right;
    background-color: white;
}
h3{
    background-color: white;
}
#input-group{
    background-color: white;
}
#input2{
    background-color: white;
    padding: 0% 42%;
}
h3{
    background-color: white;
}
input[type="button"] {
    float: right;
    background-color:darkblue;
    color: white;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    margin: 1px;
    cursor: pointer;
    align-items: center;
    
}
input[type="button"]:hover {
    background-color:aqua;
    color:black;
    font-size: larger;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }